.TodoItem{
    transition: 1s;
}

.TodoItem-Todo-Content{
    transition: 1s;
}

.TodoItem-Content-Task{
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: 2s;
}

.TodoItem-Content-Task:hover{
    color:#ed0d0d !important;
    text-decoration: line-through;
    transition: 1.5s;
}

.TodoItem-Content-Task-isNotCompleted{
    color:#000000;
    transition: 1.5s;
}

.TodoItem-Content-Task-isCompleted{
    color:#ed0d0d;
    text-decoration: line-through;
    transition: 1.5s;
}