.Form-Console{
    width: 700px;
    min-width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 3px;
    padding: 25px 5px;
    margin: 0px auto;
}

.Form-Panel{
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 6px #000000;
    border-radius: 3px;
    padding: 25px 5px;
    margin: 0px auto;
    overflow: hidden;
}

.Form-Submit-Button{
    width: 74%;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    background-color: #2d2d2d;
}