.BoxForm-Console{
    width: 300px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 2px 2px 5px #00000050;
    border-radius: 2px;
}

.BoxForm-Panel{
    width: 200px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 2px 2px 5px #00000050;
    border-radius: 2px;
}

.BoxForm-Input{
    width: 85%;
}

.BoxForm-Button{
    width: 95%;
    height: 30px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    background-color: #2d2d2d;
    margin: 20px 0px
}
